adafruit-io
pyserial
fastapi
uvicorn
PyJWT
passlib
bcrypt==3.2.2
# onnxruntime
# # insightface 
# opencv-python
# numpy
# deep-sort-realtime

fastapi
uvicorn
python-multipart
pydantic

mediapipe
ultralytics
# torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
python-dotenv
requests
Adafruit_IO
fastapi
uvicorn
python-multipart
pyjwt
werkzeug

python-dotenv
requests

# PyTorch CUDA 12.1
# --index-url https://download.pytorch.org/whl/cu121
# torch
# torchvision
# torchaudio
