insightface
onnxruntime
opencv-python
numpy
deep-sort-realtime

# PyTorch (GPU)
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121

fastapi
uvicorn
python-multipart
pydantic

mediapipe
ultralytics

python-dotenv